
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <p class="colophon text-capitalize text-center text-primary me-5">site by demonte carter &copy; 2024</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>