<%- include('../partials/header'); %>

<main class="main" id="404Main">
    <img src="https://i.gifer.com/33GO.gif" alt="404 gif image" class="img-fluid d-block mx-auto">
    <p class="404-text text-capitalize text-center">Oh no did your page stop working *burp*</p>
</main>

<%- include('../partials/footer'); %>