<%- include('../partials/header'); %>

<main class="main" id="charaSingleMain">
    <div class="container">
        <div class="row">
                <img src="<%= data.image %>" alt="<%= data.name %>" class="img-fluid w-50">
                
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>